<div class="container">
  <select (change)="onUserChange($event.target)">
    <option value="">--Select a team member--</option>
    @for(user of users(); track user.id) {
    <option [value]="user.id">{{ user.name }}</option>
    }
  </select>
  <input type="checkbox" (change)="onFilter($event.target)" />Show only
  incomplete tasks

  <h2>
    ToDos @if (currentUser()) { for: {{ currentUser()?.name }}
    }
  </h2>
  @if (isLoading()) {
  <div>Loading ...</div>
  } @if (toDos()?.length) {
  <div class="grid">
    <div class="cellHeader">Todo</div>
    <div class="cellHeader">Completed?</div>

    @for(t of toDos(); track t.id) {
    <div class="cell">{{ t.title }}</div>
    <div class="cellCheck">
      <input
        type="checkbox"
        [checked]="t.completed"
        (change)="onChangeStatus(t, $event.target)"
      />
    </div>
    } @empty { @if(!isLoading()) {
    <div>No todos found</div>
    } }
  </div>
  } @if (toDosError()) {
  <div>Error: {{ toDosError() }}</div>
  } @if (usersError()) {
  <div>Error: {{ usersError() }}</div>
  }
</div>
